body
{
    background-color: black; 
    color: lightgray;
    font-size: 28px; 
    font-family: 'Inconsolata', monospace;
    font-weight: 700; 
    /* komendy sprawiające, że tekst nie bedzie sie zaznaczal */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wybor
{
    text-align: center; 
    min-height: 124px;
    border: 3px solid lightgray;
	border-radius: 15px;
    background-color: black;
    color: lightgray;
    font-family: 'Inconsolata', monospace;
    font-weight: 700; 
}
            
.wybor:hover
{
    background-color: yellow; 
    color: black; 
    border: 5px solid lightyellow; 
}

input[type=text], 
input[type=password]
{
	border-radius: 5px;
    font-family: 'Inconsolata', monospace;
    padding: 10px 5px; 
    background-color: #303030; 
    color: white;
    border: none; 
	outline: none;
}

input[type=text]:focus, 
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,0,1)!important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,0,1)!important;
    box-shadow: 0px 0px 5px 0px rgba(255,255,0,1)!important;
    background-color: #303030;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: yellow;
    text-decoration: none;
}
