.litera
{
    display: inline-block;
    width: 45px; 
    height: 45px; 
    text-align: center;
    margin: 5px;
    border: 3px solid gray; 
    cursor: pointer; 
    border-radius: 15px;
    transition: all .2s ease;
}

.litera:hover
{
    background-color: yellow; 
    color: black; 
    border: 3px solid lightyellow; 
    transform: scale(1.1);
}

.pos {
    background-color: #003300!important;
    color: #00C000!important;
    border: 3px solid #00C000!important;
    cursor: default!important;
}

.pos:hover {
    transform: none!important;
}

.neg {
    background-color: #330000!important;
    color: #C00000!important;
    border: 3px solid #C00000!important;
    cursor: default!important;
}

.neg:hover {
    transform: none!important;
}

.reset
{
    cursor: pointer; 
    color: green; 
    font-size: 48px;
    transition: transform .25s ease-in-out;
}

.resetn
{
    cursor: pointer; 
    color: red; 
    font-size: 48px;
    transition: transform .25s ease-in-out;
}

.toindex
{
    cursor: pointer; 
    color: mediumpurple; 
    font-size: 48px;
    transition: transform .25s ease-in-out;
}

.reset:hover, .resetn:hover, .toindex:hover
{
    color: yellow; 
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

@media (max-width: 768px) {
    #szubienica img {
        width: 350px;
    }
    
    footer, .miss {
        font-size: 18px;
    }
    
    .reset, .resetn, .toindex {
        font-size: 35px;
    }
}

@media (max-width: 575px) {
    .h1 {
         font-size: 2rem;   
    }
}